https://stackabuse.com/time-series-analysis-with-lstm-using-pythons-keras-library/

In [9]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd 
train = pd.read_csv("../Data/Train_data_Update.csv", index_col = "Start_date")

In [5]:
df.head()

,Year,Count,Days_Open,Avg_Count,News_Count,Vis_change_rate,big_data_newsCount,prev_count,mid_count,after_count,WeekDay,Avg_Tmp,High_Tmp,Low_Tmp,Month,Day
Start_date,,,,,,,,,,,,,,,,
2000-08-11,2000,188046,10,18804.60000,25,0.000000,94,54,26,15,4,26.980000,32.020000,23.360000,8,11
2001-08-11,2001,245338,10,24533.80000,27,0.233523,82,39,28,16,5,25.950000,30.450000,22.150000,8,11
2002-08-09,2002,209510,10,20951.00000,31,-0.171009,77,45,20,12,4,22.580000,25.220000,20.850000,8,9
2003-08-07,2003,151235,11,13748.63636,47,-0.523860,68,27,27,14,3,23.772727,27.700000,20.554545,8,7
2004-07-31,2004,126596,11,11508.72727,86,-0.194627,96,68,16,12,5,28.227273,33.327273,24.363636,7,31

### Data Normalization
As a rule of thumb, whenever you use a neural network, you should normalize or scale your data. We will use MinMaxScaler class from the sklear.preprocessing library to scale our data between 0 and 1. The feature_range parameter is used to specify the range of the scaled data. Execute the following script:

In [13]:
train_processed = train.iloc[:, 1:2].values

In [15]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler(feature_range = (0, 1))

train_scaled = scaler.fit_transform(train_processed)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

In [19]:
features_set = []
labels = []
for i in range(0, 22):
    features_set.append(train_scaled[i-0:i, 0])
    labels.append(train_scaled[i, 0])

In [20]:
features_set = np.reshape(features_set, (features_set.shape[0], features_set.shape[1], 1))

AttributeError: 'list' object has no attribute 'shape'

In [21]:
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
from keras.layers import Dropout

Using TensorFlow backend.

In [22]:
model = Sequential()

WARNING: Logging before flag parsing goes to stderr.
W1028 16:49:54.949718  9188 deprecation_wrapper.py:119] From C:\ProgramData\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:74: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.